* {
  box-sizing: border-box;
}



body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}


a.navigation-link {
  padding: 30px 50px;
  color:#FF0000; 
  word-wrap: normal;
  display: inline-block;
}

a.navigation:visited {
color:#000000; 
text-decoration:none;
}


#nav {
	width:75%;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	font-size: 14px;
	padding-bottom: 0px;
	text-align: right;
	min-width:600px;
}

#nav li a.thename {
	padding-left: 60px;
	font-family: 'Tangerine';
	font-size: 35px;
	color:#602060;
	float:left;
}	

#nav li {
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
}


#nav a {
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.0em;
	color: #596365;
}

#nav a.active {
	border-bottom: 3px solid #602060;
}

#nav a:hover{
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.0em;
	color: #000;
}


/*
hr {
    border: 0.5px solid #602060;
    margin-left: 20px;
    margin-right: 20px;
}
*/




.wrap{
  width:75%;
  margin-right: auto;
  margin-left: auto;
  margin-top:10%;
}

/* Create 2 unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 30%;
  text-align: right;
  padding-top:30px;
}

/* Middle column */
.column.middle {
  width: 70%;
}



.container{
    float: center;
    margin-top:8%;
    margin-right: 20%;
    margin-left: 20%;
}













