body {
  background-color: #E2E2E2;
}

.wrap {
    width: 100%;
}

.floatleft {
  float:left; 
  width: 40%;
  height: 400px;
  text-align: right;
}

.floatright {
float: right;
  height: 400px;
  width: 60%;
}


